<div class="news-detail">
    <div class="headline-section">
        <div class="headline-section__content text-center container">
            <h2 class="headline-section__headline is-highlighted">[vereinonline:subject]</h2>
        </div>
    </div>
    <div class="section">
        <div class="section__content container text-left">
            <ul class="meta no-list-style text-center">
                <li class="meta__item is-date">
                    [vereinonline:datum]
                </li>
            </ul>
        </div>
    </div>
    <div class="section is-regular">
        <div class="section__content container text-left">
            <div class="card is-regular has-no-meta is-plain[vereinonline_if(foto)] has-image[vereinonline_endif] has-no-footer">
                <div class="card__content">
                    <div class="card__main can-contain-copyright">
                        <div class="rte-content v-margin-collapse">
                            [vereinonline_if(foto)]
                                <div class="card__image-wrapper">
                                    <figure class="figure">
                                        <div class="figure__image-wrapper is-highlighted">
                                            <div class="figure__image">
                                                <img src="news/[vereinonline:foto]" alt="">
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="card__image-credit">
                                        &copy;
                                    </div>
                                </div>
                            [vereinonline_endif]
                            <div class="search-for-copyright">
                                <p>[vereinonline:body]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>