<!-- BEGIN sectionButton -->
<div class="section center-button">
  <div class="section__content container text-left">
    <div class="text-center">
      <a class="button is-unbreakable is-tertiary-solid" href="{#TemplateParameter.Link#}">
        <span class="button__text">{#TemplateParameter.LinkTitel#}</span>
      </a>
    </div>
  </div>
</div>
<!-- END sectionButton -->
