<div class="section__content container text-left" data-is-local="{#TemplateParameter.istLokal#}">
    <div class="video-embed">        
        {#IF:TemplateParameter.istLokal#}
            <video width="100%">
                <source src="{#TemplateParameter.EmbedURL#}" type="video/mp4"></source>
            </video>
        {#ELSE#}
            <p class="dsgvo-blocked-info" style="text-align: center;">Dieses Video kann leider nur geladen werden, wenn Sie der Verwendung von Drittanbieter Cookies & Skripten zustimmen<br><span class="dsgvo-consent-optout" style="text-align: center;"><br>Sie haben zu einem fr&uuml;heren Zeitpunkt eine Auswahl zur Verwendung von Cookies & Skripten von Drittanbietern getroffen.</span><span class="dsgvo-consent-optout" style="text-align: center;"><br><a class="dsgvo-consent-optout-link">Klicken Sie hier um Ihre Auswahl zu &auml;ndern oder Ihre Zustimmung aufzuheben.</a></span></p>
            <div class="dsgvo-insert" data-insert="&lt;iframe src=&quot;{#TemplateParameter.EmbedURL#}&quot; frameborder=&quot;0&quot; allowtransparency=&quot;&quot; width=&quot;480&quot;
            height=&quot;270&quot; class=&quot;media-oembed-content&quot;&gt;&lt;&sol;iframe&gt;"></div>
        {#/IF#}
    </div>
</div>