<!-- BEGIN sectionKarteText -->
<div class="section">
    <div class="section__content container">
      <div class="wp-block-wjd-group">
        <div class="card has-no-image  is-plain">
          <div class="card__content">
            <div class="card__main">
              <div class="rte-content v-margin-collapse">
                <p>{#TemplateParameter.InhaltText#}</p>
              </div>
            </div>
            {#IF:TemplateParameter.Link#}
            <div class="card__footer">
              <a href="{#TemplateParameter.Link#}" ref="cta" class="card__cta is-link" target="_self">{#TemplateParameter.LinkTitel#}<i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i></a>
            </div>
            {#/IF#}
          </div>
        </div>
      </div>
    </div>
</div>
<!-- END sectionKarteText -->
