{#IF:TemplateParameter.Ueberschrift#}
    <div class="headline-section">
        <div class="headline-section__content text-center container">
            <h2 class="headline-section__headline is-highlighted">{#TemplateParameter.Ueberschrift#}</h2>
        </div>
    </div>
{#/IF#}
<div class="section card-section">
    <div class="section__content container text-left{#IF:TemplateParameter.BildHoehe#} set-image-height{#/IF#}" data-image-height="{#TemplateParameter.BildHoehe,0#}">
        <div class="row">
            [vereinonline_mitglieder({#TemplateParameter.Rolle#},{#TemplateParameter.Sortierung#})]
                <div class="col-12 col-md-4">
                    <div class="card v-card has-no-meta is-vertical has-image" style="height: 100%;">
                        <div class="card__image-wrapper">
                            <figure class="figure">
                                <div class="figure__image-wrapper is-highlighted">
                                    <div class="figure__image" style="height: {#Template.KartenHoeheBilderMitglieder,200#}px;">                                            
                                        <img src="[vereinonline:fotourl]" alt="" style="height: {#Template.KartenHoeheBilderMitglieder,200#}px;">
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="card__content">
                            <div class="card__main">
                                <h3 class="card__headline">[vereinonline:vorname] [vereinonline:nachname]</h3>
                                <p class="function">[vereinonline:funktion]</p>
                                <p class="enterprise">[vereinonline:firma]</p>
                                <a href="mailto:[vereinonline:g_email]">[vereinonline:g_email]</a>
                            </div>
                        </div>
                    </div>
                </div>
            [/vereinonline_mitglieder]
        </div>
    </div>
</div>