{#IF:TemplateParameter.Ueberschrift#}
    <div class="headline-section">
        <div class="headline-section__content text-center container">
            <h2 class="headline-section__headline is-highlighted">{#TemplateParameter.Ueberschrift#}</h2>
        </div>
    </div>
{#/IF#}