<div class="eventview">
    {#IF:TemplateParameter.Ueberschrift#}
    <div class="headline-section">
        <div class="headline-section__content text-center container">
            <h2 class="headline-section__headline is-highlighted">{#TemplateParameter.Ueberschrift#}</h2>
        </div>
    </div>
    {#ELSE#}
    <div class="headline-section">
        <div class="headline-section__content text-center container">
            <h2 class="headline-section__headline is-highlighted">Bevorstehende Events</h2>
        </div>
    </div>
    {#/IF#}
    <div class="section">
        <div class="container filter-section">
            {#IF:TemplateParameter.Standardansicht#}
            <div class="event-overview-header" data-default-view="{#TemplateParameter.Standardansicht#}">
            {#ELSE#}
            <div class="event-overview-header" data-default-view="Monat">
            {#/IF#}
                <div class="month-nav">
                    <div class="prev-month">
                        <a></a>
                    </div>
                    <div class="current-month">aktueller Monat</div>
                    <div class="next-month">
                        <a></a>
                    </div>
                </div>
                <div class="week-nav">
                    <div class="prev-week">
                        <a></a>
                    </div>
                    <div class="current-week">aktuelle Woche</div>
                    <div class="next-week">
                        <a></a>
                    </div>
                </div>
                <div class="view-modes">
                    <a class="month button is-primary">Monat</a>
                    <a class="week button is-primary">Woche</a>
                    <a class="list button is-primary">Liste</a>
                </div>{#IF:_LOGGEDIN#}<div class="button admin-add-button" style="margin: 0 0 0 auto !important;"><a onclick="javascript:OpenPopup('./?action=events_item&cmd=add&datum=',875,900,0);;return false;" class="button__text">Hinzuf&uuml;gen</a></div>{#/IF#}
            </div>
            <div class="event-overview-week">
                <div class="weekdays current">
                    <div class="weekday">
                        <h4>Mo</h4>
                        <p></p>
                    </div>
                    <div class="weekday">
                        <h4>Di</h4>
                        <p></p>
                    </div>
                    <div class="weekday">
                        <h4>Mi</h4>
                        <p></p>
                    </div>
                    <div class="weekday">
                        <h4>Do</h4>
                        <p></p>
                    </div>
                    <div class="weekday">
                        <h4>Fr</h4>
                        <p></p>
                    </div>
                    <div class="weekday">
                        <h4>Sa</h4>
                        <p></p>
                    </div>
                    <div class="weekday">
                        <h4>So</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-view">
        <div class="future-event-output">
            [vereinonline_termine(,,zukunft)]
            <div class="section">
                <div class="section__content container text-left">
                    <div class="card  v-card has-no-meta has-cta">
                        [vereinonline_if(bild)]
                        <div class="card__image-wrapper">
                            <figure class="figure">
                                <div class="figure__image-wrapper is-highlighted">
                                    <div class="figure__image loading" data-image-src="?download=[vereinonline:bild]"></div>
                                </div>
                            </figure>
                        </div>
                        [vereinonline_endif]
                        <div class="card__content">
                            <ul class="card__meta-data no-list-style">
                                <li class="card__meta-data-item is-text">Event</li>
                            </ul>
                            <ul class="card__meta-data no-list-style">
                                <li class="card__meta-data-item is-date"><span class="locality">[vereinonline:ort]</span>
                                </li>
                                <li class="card__meta-data-item is-date">[vereinonline:datum]</li>
                            </ul>
                            <div class="card__main">
                                <h3 class="card__headline">
                                    <span>[vereinonline:titel]</span>
                                </h3>
                            </div>
                            <div class="card__footer">
                                <a href="?veranstaltung=[vereinonline:idmandant]" ref="cta" class="card__cta is-link"
                                    target="_self">
                                    Mehr lesen
                                    <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            [/vereinonline_termine]
        </div>
        <div class="headline-section headline-past-events">
            <div class="headline-section__content text-center container">
                <h2 class="headline-section__headline is-highlighted">Vergangene Events</h2>
            </div>
        </div>
        <div class="past-event-output">
            [vereinonline_termine(,,vergangenheit)]
            <div class="section">
                <div class="section__content container text-left">
                    <div class="card  v-card has-no-meta has-cta">
                        [vereinonline_if(bild)]
                        <div class="card__image-wrapper">
                            <figure class="figure">
                                <div class="figure__image-wrapper is-highlighted">
                                    <div class="figure__image loading" data-image-src="?download=[vereinonline:bild]"></div>
                                </div>
                            </figure>
                        </div>
                        [vereinonline_endif]
                        <div class="card__content">
                            <ul class="card__meta-data no-list-style">
                                <li class="card__meta-data-item is-text">Event</li>
                            </ul>
                            <ul class="card__meta-data no-list-style">
                                <li class="card__meta-data-item is-date"><span class="locality">[vereinonline:ort]</span>
                                </li>
                                <li class="card__meta-data-item is-date">[vereinonline:datum]</li>
                            </ul>
                            <div class="card__main">
                                <h3 class="card__headline">
                                    <span>[vereinonline:titel]</span>
                                </h3>
                            </div>
                            <div class="card__footer">
                                <a onclick="javascript:OpenPopup('./?veranstaltung=[vereinonline:id]&amp;dialog=1',1200,800,0);return false;" href="?veranstaltung=[vereinonline:idmandant]" ref="cta" class="card__cta is-link"
                                    target="_self">
                                    Mehr lesen
                                    <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            [/vereinonline_termine]
        </div>
    </div>
    <div class="week-view" data-dates="[vereinonline_termine][vereinonline:datum];;;[/vereinonline_termine]">
        [vereinonline_termine]
        <div class="section" data-covered-dates="[vereinonline:datum]">
            <a name="day-[vereinonline:datum_d]"></a>
            <div class="section__content container text-left">
                <div class="card  v-card has-no-meta has-cta">
                    [vereinonline_if(bild)]
                    <div class="card__image-wrapper">
                        <figure class="figure">
                            <div class="figure__image-wrapper is-highlighted">
                                <div class="figure__image loading" data-image-src="?download=[vereinonline:bild]"></div>
                            </div>
                        </figure>
                    </div>
                    [vereinonline_endif]
                    <div class="card__content">
                        <ul class="card__meta-data no-list-style">
                            <li class="card__meta-data-item is-text">Event</li>
                        </ul>
                        <ul class="card__meta-data no-list-style">
                            [vereinonline_if(ort)]<li class="card__meta-data-item is-date"><span class="locality">[vereinonline:ort]</span></li>[vereinonline_endif]
                            <li class="card__meta-data-item is-date">[vereinonline:datum]</li>
                        </ul>
                        <div class="card__main">
                            <h3 class="card__headline">
                                <span>[vereinonline:titel]</span>
                            </h3>
                        </div>
                        <div class="card__footer">
                            <a onclick="javascript:OpenPopup('./?veranstaltung=[vereinonline:idmandant]&amp;dialog=1',1200,800,0);;return false;" href="?veranstaltung=[vereinonline:idmandant]" class="weblink card__cta is-link">
                                Mehr lesen
                                <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        [/vereinonline_termine]
    </div>
    <div class="month-view event-overview-month">
        <div class="container">
            <div class="event-overview-month-inner">
                <table class="event-calendar" cellspacing="0">
                    <tbody>
                        <tr class="head">
                            <th data-mobile="Mo">Montag</th>
                            <th data-mobile="Di">Dienstag</th>
                            <th data-mobile="Mi">Mittwoch</th>
                            <th data-mobile="Do">Donnerstag</th>
                            <th data-mobile="Fr">Freitag</th>
                            <th data-mobile="Sa">Samstag</th>
                            <th data-mobile="So">Sonntag</th>
                        </tr>
                        <tr>
                            [vereinonline_kalender]
                                [vereinonline_if(keintermin)]
                                        <td class="[vereinonline:css]" data-running-events="0">
                                            <span>[vereinonline:datum_d]</span>
                                        </td>
                                [vereinonline_elseif(eintermin)]
                                        <td class="has-event" data-running-events="0">
                                            <span>[vereinonline:datum_d]</span>
                                            <div class="slot [vereinonline:css]" data-duration="[vereinonline:datum]" data-vo-class="[vereinonline:css]">
                                                <a onclick="javascript:OpenPopup('./?veranstaltung=[vereinonline:id]&amp;dialog=1',1200,800,0);;return false;" href="?veranstaltung=[vereinonline:id]">[vereinonline:titel]</a>
                                            </div>
                                        </td>
                                [vereinonline_elseif(keintag)]
                                        <td class="out-of-month [vereinonline:css]" data-running-events="0">
                                            <span>[vereinonline:datum_d]</span>
                                        </td>
                                [vereinonline_else]
                                        <td class="has-event [vereinonline:css]" data-running-events="0">
                                            <span>[vereinonline:datum_d]</span>
                                            [vereinonline_termine]
                                                <div class="slot [vereinonline:css]" data-duration="[vereinonline:datum]" data-vo-class="[vereinonline:css]">
                                                    <a onclick="javascript:OpenPopup('./?veranstaltung=[vereinonline:id]&amp;dialog=1',1200,800,0);;return false;" href="?veranstaltung=[vereinonline:id]">[vereinonline:titel]</a>
                                                </div>
                                            [/vereinonline_termine]
                                        </td>
                                [vereinonline_endif]
                                [vereinonline:tr7]
                            [/vereinonline_kalender]
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</div>

{#IF:_LOGGEDIN#}<div class="button admin-add-button"><a onclick="javascript:OpenPopup('./?action=events_item&cmd=add&datum=',875,900,0);;return false;" class="button__text">Hinzuf&uuml;gen</a></div>{#/IF#}