{#IF:TemplateParameter.Ueberschrift#}
    <div class="section is-funky">
        <div class="section__content container text-left">
            <div class="headline-section">
                <div class="headline-section__content text-center container is-inverted is-transparent">
                    <h3 class="headline-section__headline">{#TemplateParameter.Ueberschrift#}</h3>
                </div>
            </div>
            <div class="card  has-no-meta is-inverted is-transparent has-image has-no-footer">
                <div class="card__image-wrapper">
                    <figure class="figure">
                        <div class="figure__image-wrapper is-highlighted">
                            <div class="figure__image">
                                <img src="files/{#TemplateParameter.BildDatei#}" alt="">
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="card__content is-inverted">
                    <div class="card__main">
                        <div class="rte-content v-margin-collapse">{#TemplateParameter.InhaltText#}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#/IF#}