<div class="section">
    {#IF:_LOGGEDIN#}
        <div class="button admin-add-button">
            <a target="_blank" class="button__text" onclick="javascript:OpenPopup('./?action=start_news&cmd=add',875,900,0);return false;">Hinzuf&uuml;gen</a>
        </div>
    {#/IF#}
    <div class="section__content container text-left">
        [vereinonline_news({#TemplateParameter.MaxMeldungen#})]
            <div class="views-row">
                <div class="card can-contain-copyright v-card has-credit has-cta[vereinonline_if(foto)] has-image[vereinonline_endif] has-link" data-url="?action=start_aktuelles&id=[vereinonline:id]">
                    [vereinonline_if(foto)]
                        <div class="card__image-wrapper">
                            <figure class="figure">
                                <div class="figure__image-wrapper is-highlighted">
                                    <div class="figure__image">
                                        <img src="news/[vereinonline:foto]" alt="">
                                    </div>
                                </div>
                            </figure>
                            <div class="card__image-credit">&copy; </div>
                        </div>
                    [vereinonline_endif]
                    <div class="card__content">
                        <ul class="card__meta-data no-list-style">
                            <li class="card__meta-data-item is-date">[vereinonline:datum]</li>
                            <li class="card__meta-data-item is-text">[vereinonline:kategorie]</li>
                        </ul>
                        <div class="card__main">
                            <h3 class="card__headline">[vereinonline:subject]</h3>
                            [vereinonline_if(body)]
                                <div class="rte-content v-margin-collapse search-for-copyright clamp-body">
                                    <!--p class="clamp-body"--><!-- begin body-->[vereinonline:body]<!-- end body--><!--/p-->
                                </div>
                            [vereinonline_endif]
                        </div>
                        <div class="card__footer">
                            <a href="?action=start_aktuelles&id=[vereinonline:id]" ref="cta" class="card__cta is-link" target="_self">
                                Mehr lesen
                                <i class="card__icon  fas fa-chevron-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {#IF:_LOGGEDIN#}
                <div class="messagefooter float-right">
                    <a onclick="javascript:OpenPopup('./?action=start_news&amp;cmd=edit&amp;id=[vereinonline:id]&amp;size=880x540&amp;dialog=1',880,600,0);;return false;" href="?action=start_news&amp;cmd=edit&amp;id=[vereinonline:id]&amp;size=880x540" class="weblink">
                        <img src="../admin/img/edit.png" title="Bearbeiten" style="vertical-align:middle;width:16px;">
                    </a>
                    <a onclick="javascript:OpenPopup('./?action=start_news&amp;cmd=copy&amp;id=[vereinonline:id]&amp;size=880x540&amp;dialog=1',880,600,0);;return false;" href="?action=start_news&amp;cmd=copy&amp;id=[vereinonline:id]&amp;size=880x540" class="weblink">
                        <img src="../admin/img/copy.png" title="Kopieren" style="vertical-align:middle;width:16px;">
                    </a>
                    <a onclick="javascript:return confirm('Wirklich löschen?')" href="?action=start_news&amp;cmd=delete&amp;id=[vereinonline:id]">
                        <img src="../admin/img/loeschen.png" title="Löschen" style="vertical-align:middle;width:16px;">
                    </a>
                </div>
            {#/IF#}
        [/vereinonline_news]
    </div>
    {#IF:_LOGGEDIN#}
        <div class="button admin-add-button">
            <a target="_blank" class="button__text" onclick="javascript:OpenPopup('./?action=start_news&cmd=add',875,900,0);return false;">Hinzuf&uuml;gen</a>
        </div>
    {#/IF#}
</div>