<!-- BEGIN sectionHTML -->
<div class="section">
  <div class="section__content container">
    <div class="wp-block-wjd-group html-block-images">
      <p>{#TemplateParameter.InhaltHTML#}</p>
    </div>
  </div>
</div>
<!-- END sectionHTML -->
