<div class="v-hero hero has-max-width mb-xxl">
    <div class="hero-swiper swiper-container {#TemplateParameter.Ausrichtung(oben/mitte/unten)#}" data-height="{#Template.HeroHoehe#}" data-height-resp="{#Template.HeroHoeheResponsive#}">
        <div class="swiper-wrapper">
            {#TemplateElemente#}
                <div class="swiper-slide">
                    <img src="files/{#TemplateElement.BildDatei#}" alt="{#TemplateElement.BildBeschreibung#}">
                </div>
            {#/TemplateElemente#}
        </div>
    </div>
    <div class="hero__box is-highlighted">
        <h1 class="hero__headline">{#TemplateParameter.UnterUeberschrift#}</h1>
        <h3 class="hero__subheadline">{#TemplateParameter.Ueberschrift#}</h3>
        <ul class="hero__pagination no-list-style"></ul>
    </div>
</div>
