.small-event-list {
    .section {
        margin: 1em 0;
    }
    @media (min-width: 575px) {
        .card {
            flex-direction: row;
            h3.card__headline {
                margin-bottom: 0;
            }
            .card__content {
                display: block;
            }
            .card__meta-data {
                display: table;
                float: left;
                margin-right: 10px;
            }
            .card__main {
                float: left;
                width: 100%;
            }
            .card__footer {
                align-items: center;
                display: flex;
                justify-content: center;
                margin-top: 0;
                width: 120px;
                .card__icon {
                    font-size: 60px;
                    font-weight: 100;
                }
                .card__cta {
                    padding: 14px;
                }
                .card__cta i {
                    left: 0;
                }
                .card__cta.responsive {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 574px) {
        .card {
            .card__content {
                padding-bottom: 0;
            }
            .card__footer {
                padding: 0 20px 20px;
            }
            .card__cta.desktop {
                display: none;
            }
        }
    }
}

.past-event-output,
.future-event-output,
.week-view {
    .section {
        .card__image-wrapper {
            flex-basis: 50%;
            .figure__image.loading {
                position: relative;
                &::after {
                    animation: spin 1s linear infinite;
                    color: $accent;
                    content: '\f1ce';
                    display: block;
                    font-family: $font-awesome;
                    font-size: 40px;
                    font-weight: 700;
                    height: 40px;
                    left: 50%;
                    line-height: 40px;
                    margin-left: -20px;
                    margin-top: -20px;
                    position: absolute;
                    top: 50%;
                    width: 40px;
                }
            }
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
