.blueline-content-popup {
    bottom: 30px;
    display: none;
    position: fixed;
    width: 500px;
    z-index: 10000;

    &.displayed {
        display: block;
    }

    &.position-left {
        left: 0;
    }
    &.position-middle {
        left: 50%;
        margin-left: -250px;
    }
    &.position-right {
        right: 30px;
    }
    &.position-bottom {
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        width: 100%;
    }
    &.position-top {
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
    }

    .blueline-content-popup-wrap {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
        padding: 15px 20px;
        h3 {
            text-align: center;
        }
        h4 {
            font-size: 18px;
            margin-bottom: 20px;
            text-align: center;
            text-transform: none;
        }
        p,
        ul {
            font-size: 15px;
            line-height: 17px;
            a {
                font-size: 15px;
                line-height: 17px;
                text-decoration: underline;
            }
        }
        .checkboxes-container {
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
            &::after {
                clear: both;
                content: ' ';
                display: block;
            }
            .checkbox {
                background-color: #fff;
                border-bottom: 1px solid #eee;
                display: block;
                margin: 0;
                padding: 0;
                &:last-child {
                    border-bottom: 0;
                }
                input {
                    margin: 2px 3px 0 0;
                    position: static;
                }
                label {
                    display: block;
                    font-size: 18px;
                    padding: 10px;
                }
            }
        }
        .submit,
        .open-checkboxes-box {
            display: table;
            font-size: 13px;
            min-height: 33px;
            line-height: 18px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            padding: 5px 15px;
        }
    }

    &.position-bottom,
    &.position-top {
        .smaller-toggle {
            display: none;
        }
        @media (max-width: 767px) {
            .smaller-toggle {
                border-top-left-radius: 80%;
                cursor: pointer;
                display: block;
                height: 26px;
                left: 50%;
                margin-left: -12px;
                position: absolute;
                top: -14px;
                transform: rotate(45deg);
                width: 26px;
                &::after {
                    border-bottom: 1px solid $color-dark;
                    border-right: 1px solid $color-dark;
                    box-sizing: border-box;
                    content: ' ';
                    height: 14px;
                    left: 6px;
                    position: absolute;
                    top: 6px;
                    width: 14px;
                }
            }
            &.toggled {
                bottom: auto;
                margin-top: -50px;
                top: 100%;
                .smaller-toggle::after {
                    left: 10px;
                    top: 10px;
                    transform: rotate(-180deg);
                }
            }
        }
        .blueline-content-popup-text-wrap {
            margin: 0 auto;
            width: 800px;
            @media (max-width: 850px) {
                width: auto;
            }
        }
        .blueline-content-popup-wrap {
            padding: 5px 10px;
            position: relative;
            &::after {
                clear: both;
                content: ' ';
                display: block;
            }
            h4 {
                line-height: 20px;
                margin: 10px 0 5px 0;
            }
            ul {
                list-style: none;
                padding-left: 0;
                &::after {
                    clear: both;
                    content: ' ';
                    display: block;
                }
                li {
                    float: left;
                    font-weight: bold;
                    padding-left: 5px;
                    &::after {
                        content: ',';
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child::after {
                        display: none;
                    }
                }
            }
            .text {
                &,
                a {
                    font-size: 12px;
                }
                &.last-line {
                    margin-top: 5px;
                    text-align: center;
                }
            }
            .button-container {
                float: left;
                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    clear: both;
                }
                @media (max-width: 991px) {
                    float: none;
                    display: block;
                    margin-top: 10px;
                }
                @media (max-width: 420px) {
                    margin-top: 0;
                    button {
                        float: none;
                    }
                }
            }
            .checkboxes-container {
                box-shadow: none;
                float: left;
                padding-right: 5px;
                .checkbox {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    height: 33px;
                    width: 175px;
                    input {
                        position: relative;
                        top: 1px;
                    }
                    label {
                        border: 2px solid #fff;
                        box-sizing: border-box;
                        height: 33px;
                        padding: 5px 8px 3px 8px;
                        &,
                        a {
                            font-size: 13px !important;
                            line-height: 18px  !important;
                        }
                    }
                    @media (max-width: 767px) {
                        width: 175px;
                    }
                }
                @media (max-width: 550px) {
                    float: none;
                    margin: 0 auto;
                }
                @media (max-width: 420px) {
                    .checkbox {
                        float: none;
                    }
                }
            }
            .submit,
            .open-checkboxes-box {
                box-sizing: border-box;
                margin: 0;
                width: 250px;
                &.small {
                    background-color: rgba(0,0,0,0);
                    border: 0;
                    margin-right: 5px;
                    width: auto;
                    float: left;
                    text-decoration: underline;
                    @media (max-width: 420px) {
                        float: none;
                    }
                }
                @media (max-width: 767px) {
                    width: 150px;
                    &.easy-accept {
                        width: 220px;
                    }
                }
                @media (max-width: 550px) {
                    float: none;
                    margin: 10px auto;
                }
                @media (max-width: 420px) {
                    width: 175px;
                }
            }
            .checkboxes-box {
                display: table;
                margin-left: auto;
                margin-right: auto;
                &::after {
                    clear: both;
                    content: ' ';
                    display: block;
                }
            }
        }
    }
    &.easy-accept {
        .easy-accept-box {
            @media (max-width: 550px) {
                .easy-accept,
                .open-checkboxes-box {
                    float: none !important;
                    margin-left: auto !important;
                    margin-right: auto !important;
                }
            }
        }
        @media (max-width: 991px) {
            .checkboxes-container {
                float: none !important;
                display: table;
                padding-right: 0 !important;
                margin: 0 auto;
            }
        }
        @media (max-width: 550px) {
            .submit {
                margin: 0 auto !important;
            }
        }
        &.easy-accept-toggled {
            .easy-accept-box {
                display: none;
            }
            .checkboxes-box {
                display: table !important;
            }
        }
    }

    &.block-page {
        bottom: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        .blueline-content-popup-overlay {
            background-color: rgba(0, 0, 0, .7);
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
        }
        .blueline-content-popup-wrap {
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 280px;
            top: 0;
            width: 400px;
            @media (max-height: 700px) {
                margin-top: 180px;
            }
            @media (max-height: 600px) {
                margin-top: 100px;
            }
            @media (max-height: 500px) {
                margin-top: 20px;
            }
        }
        .blueline-content-popup-text-wrap {
            padding: 45px 30px 55px;
            text-align: center;
            width: auto;
            h4 {
                padding-bottom: 5px;
            }
            .submit {
                margin-top: 15px;
            }
            @media (min-width: 501px) {
                text-align: justify;
            }
        }


        @media (max-width: 767px) {
            .smaller-toggle {
                display: none;
            }
        }
        @media (max-width: 500px) {
            .blueline-content-popup-wrap {
                margin-left: 20px;
                margin-right: 20px;
                width: auto;
            }
        }
    }

    @media (max-width: 600px) {
        &,
        &.position-left,
        &.position-middle,
        &.position-right {
            left: 5%;
            margin-left: auto;
            right: auto;
            width: 90%;
        }
        .blueline-content-popup-wrap {
            padding: 10px 15px;
            h4 {
                font-size: 16px;
                text-transform: none;
            }
            p,
            ul {
                font-size: 12px;
            }
            .radio-container {
                .radio {
                    input {
                        margin-bottom: -2px;
                    }
                    label {
                        font-size: 14px;
                        padding: 0;
                    }
                }
            }
        }
    }
}

.dsgvo-consent-optout-link {
    cursor: pointer;
}

.dsgvo-blocked-info {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 15px;
}

.smaller-toggle,
.blueline-content-popup-wrap {
    background: $color-light;
}
.smaller-toggle::after {
    border-color: $color-dark;
}
.blueline-content-popup-wrap * {
    color: $color-dark;
}
.blueline-content-popup .blueline-content-popup-wrap .checkboxes-container .checkbox {
    background: $color-light;
    border-color: $color-light;
}
.blueline-content-popup .blueline-content-popup-wrap .checkboxes-container .checkbox:hover,
.blueline-content-popup .blueline-content-popup-wrap .checkboxes-container .checkbox:focus {
    border-color: $accent;
}
.blueline-content-popup .blueline-content-popup-wrap .checkboxes-container .checkbox:hover label,
.blueline-content-popup .blueline-content-popup-wrap .checkboxes-container .checkbox:focus label {
    border-color: $accent;
}
.blueline-content-popup .blueline-content-popup-wrap .easy-accept-box {
    display: table;
    margin: 5px auto;
}
.blueline-content-popup .blueline-content-popup-wrap .easy-accept-box::after {
    content: ' ';
    clear: both;
    display: block;
}
.blueline-content-popup .blueline-content-popup-wrap .submit {
    background: $accent;
    border: 2px solid $accent;
    color: $color-light;
}
.blueline-content-popup .blueline-content-popup-wrap .submit.small {
    color: $color-dark;
}
.blueline-content-popup .blueline-content-popup-wrap .submit.easy-accept {
    float: left;
}
.blueline-content-popup .blueline-content-popup-wrap .open-checkboxes-box {
    background:$color-light;
    border: 2px solid $color-dark;
    color: $color-dark;
    float: left;
    margin-left: 5px !important;
}
.blueline-content-popup .blueline-content-popup-wrap .submit:hover,
.blueline-content-popup .blueline-content-popup-wrap .submit:focus {
    background: $color-light;
    color: $accent;
}
.blueline-content-popup .blueline-content-popup-wrap .submit:disabled {
    opacity: 0.5;
}
.blueline-content-popup .blueline-content-popup-wrap p a:hover,
.blueline-content-popup .blueline-content-popup-wrap p a:focus {
    color: $accent;
}