.event-date__date {
    font-weight: bold;
    &:not(.is-same-day)::after {
        content: ', ';
        display: inline-block;
    }
}
.event-date__item:first-child .event-date__time:not(.is-same-day)::after {
    content: '–';
    display: inline-block;
    margin-left: .4em;
}
.filter-section {
    overflow: hidden;
    .event-overview-header {
        @media (max-width: $break-md) {
            padding-bottom: 10px;
        }
        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
        &.list {
            .month-nav {
                display: none;
            }
            .week-nav {
                display: none;
            }
            .view-modes {
                padding-left: 0;
                width: 80%;
            }
            &+.event-overview-week {
                display: none;
            }
        }
        &.week {
            .month-nav {
                display: none;
            }
            .view-modes {
                padding-left: 38px;
                width: 50%;
                @media (max-width: $break-md) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
        &.month {
            .week-nav {
                display: none;
            }
            &+.event-overview-week {
                display: none;
            }
        }
    }
    .week-nav,
    .month-nav {
        float: left;
        margin-bottom: 30px;
        position: relative;
        width: 30%;
        @media (max-width: $break-md) {
            margin-bottom: 10px;
        }
        @media (max-width: $break-sm) {
            display: table;
            float: none;
            margin: 0 auto 10px;
            white-space: nowrap;
            width: auto;
        }
        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 40%;
        }
    }
    .current-week,
    .current-month {
        @include current-item;
        @media(max-width: $break-md) {
            margin-right: 0;
            width: auto;
        }
    }
    .prev-week,
    .prev-month {
        cursor: pointer;
        @include previous-item;
        @media (max-width: $break-sm) {
            left: -20px;
        }
    }
    .next-week,
    .next-month {
        cursor: pointer;
        @include next-item;
        @media (max-width: $break-sm) {
            right: -20px;
        }
    }
    .next-week,
    .next-month,
    .prev-week,
    .prev-month {
        @media(max-width: $break-md) {
            height: auto;
            width: auto;
            &:before {
                position: relative;
                top: 7px;
            }
        }
        @media (max-width: $break-sm) {
            position: absolute;
        }
    }
    .view-modes {
        box-sizing: border-box;
        float: left;
        padding-left: 38px;
        width: 50%;
        @media(max-width: $break-md) {
            padding: 10px 0;
            width: 100%;
            &:after {
                clear: both;
                content: ' ';
                display: block;
            }
        }
        .active {
            border-color: $accent-tertiary !important;
            color: $accent-tertiary !important;
            cursor: default;
            pointer-events: none;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 40%;
        }
    }
    .event-filter-toggle {
        @include clearfix();

        float: left;
        width: 20%;
        @media (max-width: $break-md) {
            float: right;
            padding: 10px 0;
        }
        .button {
            float: right;
            height: 54px;
            height: 54px !important;
            max-height: none !important;
            padding: 0;
            position: relative;
            width: 54px;
            @media (max-width: $break-md) {
                height: 47px;
                width: 47px;
            }
            @media (max-width: $break-sm) {
                height: 40px !important;
                width: 40px;
            }
            @media (max-width: 380px) {
                > span {
                    display: none;
                }
            }
            &::after {
                content: '\f0b0';
                display: block;
                font-family: $font-awesome;
                font-size: 20px;
                height: 20px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: none;
                width: 20px;
            }
        }
    }
    .event-overview-week {
        @include clearfix();

        margin-top: 16px;
        position: relative;
        @media (max-width: $break-md) {
            margin-top: 0;
        }
        &:before {
            background-color: $faint;
            content: ' ';
            display: block;
            height: 120px;
            left: 50%;
            margin-left: -2560px;
            opacity: .5;
            position: absolute;
            top: -16px;
            width: 5120px;
            z-index: -1;
            @media (max-width: $break-md) {
                top: -6px;
            }
        }
        .weekdays {
            background: $background;
            box-shadow: 0 3px 4px 0 rgba(0,0,0,.14);
            height: 190px;
            @media (max-width: $break-md) {
                height: 120px;
                padding: 0 10px;
            }
            &:after {
                clear: both;
                content: ' ';
                display: block;
            }
            &.prev {
                display: none;
            }
            &.next {
                display: none;
            }
            .weekday {
                float: left;
                width: 14.2857%;
                @media (max-width: $break-md) {
                    height: 92px;
                }
                h4 {
                    color: $accent;
                    font-family: $font-main;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 23px;
                    padding-top: 11px;
                    text-align: center;
                    margin: 24px 0;
                    @media (max-width: $break-md) {
                        font-size: 14px;
                        padding-top: 0;
                    }
                }
                p {
                    margin-left: auto;
                    margin-right: auto;
                    width: 45px;
                    @media (max-width: $break-md) {
                        width: 30px;
                    }
                    &,
                    a {
                        color: $color-dark;
                        font-family: $font-main;
                        font-size: 36px;
                        line-height: 43px;
                        text-align: center;
                        @media (max-width: $break-md) {
                            font-size: 22px;
                            line-height: 28px;
                        }
                        &:hover,
                        &:focus {
                            text-decoration: none;
                        }
                    }
                    &.current {
                        &,
                        a {
                            color: $accent;
                        }
                    }
                    &.has-event {
                        border-bottom: 4px solid $accent;
                        padding-bottom: 11px;
                        @media (max-width: $break-md) {
                            border-bottom-width: 3px;
                            padding-bottom: 6px;
                        }
                    }
                }
            }
        }
    }
}
.event-overview-month {
    padding: 16px 0 23px 0;
    position: relative;
    .event-overview-month-inner {
        background: $item-background;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        @media (max-width: $break-md) {
            padding: 0;
        }
    }
    table {
        width: 100%;
        @media (max-width: $break-md) {
            td,
            th {
                max-width: 40px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        th {
            border-bottom: 5px solid $accent-secondary;
            color: $accent;
            font-family: $font-main;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
            padding: 15px 0 10px;
            position: relative;
            text-align: center;
            width: 14.2857%;
            @media (max-width: $break-md) {
                overflow: hidden;
                &:before {
                    background: $background;
                    content: attr(data-mobile);
                    display: block;
                    font-size: 15px;
                    height: 100%;
                    left: 0;
                    padding-top: 11px;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 2;
                }
            }
        }
        tbody tr td {
            border-bottom: 5px solid $color-light;
            padding-top: 10px;
        }
        td {
            height: 165px;
            position: relative;
            vertical-align: top;
            @media (max-width: $break-md) {
                padding: 10px 5px;
            }
            &.out-of-month {
                span {
                    color: $meta !important;
                }
            }
            &.heute {
                span {
                    color: $accent !important;
                    font-weight: 700;
                }
            }
            span {
                color: $color-dark !important;
                font-family: $font-main;
                font-size: 18px;
                line-height: 18px;
                @media (max-width: $break-md) {
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            > div {
                background: $accent;
                border-radius: 4px;
                height: 35px;
                left: 0;
                position: absolute;
                top: 36px;
                width: 96%;
                z-index: 5;
                @media (max-width: $break-md) {
                    height: 33px;
                }
                &.highlight {
                    background: $accent-tertiary;
                }
                @for $i from 1 through 15 {
                    &.slot-#{$i} {
                        top: 36px + (($i - 1) * 40px);
                    }
                }
                &.days-2 {
                    width: 194%;
                    @media (max-width: $break-md) {
                        width: 196%;
                    }
                }
                &.days-3 {
                    width: 294%;
                    @media (max-width: $break-md) {
                        width: 374%;
                    }
                }
                &.days-4 {
                    width: 394%;
                }
                &.days-5 {
                    width: 494%;
                }
                &.days-6 {
                    width: 594%;
                }
                &.days-7 {
                    width: 694%;
                }
                a {
                    box-sizing: border-box;
                    color: $color-light !important;
                    display: block;
                    font-family: $font-main;
                    font-size: 12px;
                    height: 100%;
                    line-height: 14px;
                    overflow: hidden;
                    padding: 10px 0 0 11px;
                    position: relative;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    @media (max-width: $break-md) {
                        font-size: 10px;
                        padding: 3px;
                        white-space: normal;
                    }
                }
            }
        }
        tr {
            @media (min-width: $break-md + 1px) {
                td {
                    min-height: 165px;
                }
                @for $i from 4 through 15 {
                    &.slot-amount-#{$i} td {
                        height: 165px + (($i - 3) * 40px);
                    }
                }
            }
            @media (max-width: $break-md) {                    
                td {
                    height: 90px;
                }
                @for $i from 1 through 15 {
                    &.slot-amount-#{$i} td {
                        height: 90px + (($i - 1) * 37px);
                    }
                }
            }
        }
    }
}
