#wrap,
footer,
header {
    &.blur {
        filter: blur(4px);
    }
}
.login-modal-backdrop {
    background-color: $form-gray-2;
    display: none;
    height: 100%;
    left: 0;
    opacity: .8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000000000;
}
.login-modal {
    background-color: white;
    color: black !important;
    display: none;
    left: 50%;
    min-width: 450px;
    padding: 30px;
    position: fixed;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000000000001;
    @media (max-width:	450px) {
        min-width: calc(100% - 30px);
    }
    a {
        color: black !important;
    }
    .close {
        color: black;
        cursor: pointer;
        height: 20px;
        opacity: 1;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 20px;
        &::after,
        &::before {
            background-color: $accent;
            content: '';
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            top: calc(50% - 1px);
            transform: rotate(45deg);
            transition: background-color .3s;
            width: 20px;
        }
        &::after {
            transform: rotate(45deg);
        }
        &::before {
            transform: rotate(-45deg);
        }
        &:focus,
        &:hover {
            &::after,
            &::before {
                background-color: $accent-secondary;
            }
        }
    }
    #tablelogin,
    tbody,
    tr,
    td {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #formlogin {
        input {
            background: #fff;
            border: 1px solid #232121;
            border-radius: 0;
            display: block;
            height: auto !important;
            margin: 0 0 20px !important;
            max-height: none !important;
            padding: .6rem .6rem !important;
            width: 100%;
        }
        a {
            font-size: 11px;
        }
        .button {
            float: right;
            height: auto !important;
            max-height: none !important;
            padding: 0;
            a {
                display: block;
                font-size: 16px;
                padding: 16px;
            }
            &:focus,
            &:hover {
                a {
                    color: $color-dark !important;
                }
            }
        }
    }
}
