#divkalender {
    padding: 0 15px 15px;
    > b {
        display: block;
        width: 100%;
    }
    > b,
    .calendartable {
        position: relative;
        &::after {
            background-color: $item-background;
            content: '';
            display: block;
            height: calc(100% + 30px);
            left: -15px;
            position: absolute;
            top: -15px;
            width: calc(100% + 30px);
            z-index: -1;
        }
    }
    table {
        border: 0;
        tr {
            td {
                &.calendarday,
                &.calendarheader {
                    background-color: $color-transparent;
                    border: 0;
                }
                &.listheader,
                &.calendarheader {
                    background-color: $item-background !important;
                    border-bottom: 5px solid $accent-secondary;
                    color: $accent;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 23px;
                    padding: 15px 0 10px;
                    position: relative;
                    text-align: left;
                    @media (max-width: $break-sm) {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
                &.listheader {
                    padding: 15px 30px;
                    @media (max-width: $break-md) {
                        padding: 15px 0;
                    }
                }
                &.calendarday {
                    border-bottom: 5px solid $color-light;
                    padding-top: 10px;
                    position: relative;
                }
                .calendardayheader {
                    color: $color-dark;
                    font-size: 18px;
                    line-height: 18px;
                    a.weblink {
                        background-color: $accent;
                        border-radius: 3px;
                        bottom: 8px;
                        color: $color-light;
                        display: block;
                        font-size: 10px;
                        left: 3px;
                        line-height: 10px;
                        padding: 5px 4px;
                        position: absolute;
                        z-index: 10;
                    }
                }
                .calendaritem {
                    background: $accent-tertiary;
                    border-radius: 4px;
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 5px;
                    padding: 10px;
                    z-index: 5;
                    body.logged-in &:last-child {
                        margin-bottom: 30px;
                    }
                    div,
                    a {
                        color: $color-light;
                    }
                }
                &.listitem {
                    font-family: $font-main;
                    font-size: 16px;
                    line-height: 19px;
                    @media (max-width: $break-sm) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                    div[id^='vadiv'] {
                        border: none !important;
                        padding: 10px 0 !important;
                    }
                }
            }
        }
        &.woche tr {
            td.calendarday {
                border-bottom: none;
                .calendaritem {
                    padding: 5px;
                    > div {
                        background-color: $color-transparent !important;
                    }
                    a {
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
            .uhrzeit {
                font-family: $font-main;
                font-size: 14px;
            }
        }
    }
    .listtable {
        margin: 0 -15px;
        > tbody {
            > tr:not(.calendarempty) td {
                background-color: $item-background;
                border-bottom: 3.75rem solid $color-light;
                padding-bottom: 30px;
                padding-top: 30px;
                &:first-child {
                    padding-left: 30px;
                    @media (max-width: $break-sm) {
                        padding-left: 0;
                    }
                }
                &:nth-child(2) {
                    padding: 0;
                }
                &:last-child {
                    padding-right: 30px;
                    @media (max-width: $break-sm) {
                        padding-right: 0;
                    }
                }
                @media (max-width: $break-sm) {
                    padding: 2px;
                }
            }
            > tr.calendarempty td {
                background-color: $color-light;
                &:first-child {
                    padding-left: 30px;
                    @media (max-width: $break-sm) {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    padding-right: 30px;
                    @media (max-width: $break-sm) {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    > br {
        display: block;
        margin-bottom: 10px;
    }
}
form.calendar-form,
form.search-calendar-form {
    .buttonline .buttonitem .button.buttonstandard,
    .buttonline .buttonitem .button.buttonicon {
        background-image: none !important;
        padding: 0;
        @media (max-width: $break-sm) {
            max-height: 45px !important;
        }
        a {
            display: inline-block;
            padding: 1em;
            &:first-child:not(:only-child) {
                display: none;
            }
            i {
                background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIj48cGF0aCBkPSJNMjg1LjQ3NiAyNzIuOTcxTDkxLjEzMiA0NjcuMzE0Yy05LjM3MyA5LjM3My0yNC41NjkgOS4zNzMtMzMuOTQxIDBsLTIyLjY2Ny0yMi42NjdjLTkuMzU3LTkuMzU3LTkuMzc1LTI0LjUyMi0uMDQtMzMuOTAxTDE4OC41MDUgMjU2IDM0LjQ4NCAxMDEuMjU1Yy05LjMzNS05LjM3OS05LjMxNy0yNC41NDQuMDQtMzMuOTAxbDIyLjY2Ny0yMi42NjdjOS4zNzMtOS4zNzMgMjQuNTY5LTkuMzczIDMzLjk0MSAwTDI4NS40NzUgMjM5LjAzYzkuMzczIDkuMzcyIDkuMzczIDI0LjU2OC4wMDEgMzMuOTQxeiIvPjwvc3ZnPg==');
                background-repeat: no-repeat;
                background-size: contain;
                height: 20px;
                margin-left: 5px;
                margin-top: -5px;
                position: relative;
                top: 5px;
                transform: rotate(90deg);
                width: 10px;
                &::before {
                    display: none;
                }
            }
        }
    }
    #datepickerdatum1,
    #datepickerdatum2,
    #datepickerabdatum {
        position: relative;
    }
    input.datepicker {
        border: 1px solid $color-dark;
        height: 54px !important;
        margin: 0;
        max-height: none !important;
        padding: 0 45px 0 15px !important;
        width: 150px;
        @media (max-width: $break-md) {
            height: 49px !important;
        }
        @media (max-width: $break-sm) {
            height: 30px !important;
            margin: 7px 0;
        }
        &+ img {
            height: 16px;
            max-width: none;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
        }
    }
    @media (max-width: $break-sm) {
        .select2-container--default .select2-selection--single {
            height: 25px;
            .select2-selection__rendered {
                line-height: 23px;
            }
        }
        .buttonitem .form-control,
        .buttonitem .buttonlabel,
        #mitgliedsuche,
        #suche,
        #stichtag {
            height: 25px !important;
            margin-top: 0;
            max-height: 25px !important;
            min-height: 25px !important;
        }
    }
}
#dropmenudiv {
    background-color: $color-light;
    border-radius: 4px;
    span {
        a {
            color: $accent;
            &:focus,
            &:hover {
                background-color: $accent;
                color: $color-light;
            }
        }
    }
}
form.search-calendar-form {
    #divkalender {
        .listtable> tbody> tr:not(.calendarempty) td:nth-child(2) {
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }
    input#suche {
        border: 1px solid $color-dark;
        border-radius: 0;
        height: auto !important;
        max-height: none !important;
        min-height: 0 !important;
        padding: 3px 8px !important;
    }
    input.datepicker {
        height: 28px !important;
        @media (max-width: $break-md) {
            height: 49px !important;
        }
        &+ img {
            height: 16px;
            max-width: none;
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
        }
    }
    .select2-container--default .select2-selection--single {
        height: 28px;
        .select2-selection__rendered {
            line-height: 28px;
        }
    }
    .fieldlabel {
        line-height: 28px;
    }
}
