.editarea {
    z-index: 10;
}
.buttonline {
    color: black !important;
    &:focus,
    &:hover {
        color: black !important;
    }
    a,
    div,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    ul,
    li {
        color: black !important;
        &:focus,
        &:hover {
            color: black !important;
        }
    }
}
